body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(55, 150, 150);
    margin: 20px auto;
    text-align: center;
    max-width: 50%;
}
h1{
    color:rgb(73, 173, 255)
}
button{
    padding:8px 12px;
    margin:5px;
    cursor: pointer;
    border-radius: 4px;
    background-color:rgb(73, 173, 255) ;
    color:white;
    border:none;
    transition: .5s all ease;

}

button:hover{
    background-color:rgb(138, 195, 241) ;
}

form{
    margin-top: 20px;
}
label{
    display: block;
    margin-bottom: 5px;
}
input, textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}


ul{
    list-style: none;
    padding:0;

}
.postItem{
    background-color: rgb(28, 146, 140);
    border: 1px solid rgb(138, 195, 241);
    border-radius: 10px;
    padding:10px;
    margin-bottom: 20px;
    color: white
}
.editForm{
    display: none;
    margin-top: 10px;
}